html{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

body{
    width: 50%;
}
.conainer{
    display: flex;
    flex-direction: column;
}


.line{
    display: flex;
    ;
}

.item {
    display: flex;
    height: 5rem;
    background-color: grey;
    border: 1px solid black;
    font-weight:bold;
    flex:1;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    ;
}
.item-screen{
    background-color: black;
    height: 3rem;
}

/* .item:not(.item-screen):not(.item-calc)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #DDD;
    z-index: -1;
}

.item:not(.item-screen):not(.item-calc):hover::before {
    opacity: 0.5;
}

.item-link::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}  */


.item-number:hover,
.item-delete:hover,
.item-back:hover
{
    background-color: aliceblue;
} 

.item-calc:hover{
    background-color: rgb(255, 217, 113);
}


.item-number:active,
.item-delete:active,
.item-back:active{
    background-color: lightgrey
}

.item-calc:active{
    background-color: lightsalmon;
}

.item-calc{
    background-color: orange;
    color: white;
}

.item-delete{
    flex-grow: 2;
}

.item-zero{
    flex-grow: 3;
}

.result{
    color: white;
}

.item-back{
}

.item-divide{
}
